<div class="standard_cards col-md-3 col-md-offset-4 text-center">
  <h2>Cards available in this set</h2>
  <% @cards.each do |card| %>
<%= render partial: "/shared/cards", locals: {card: card} %>
  <% end %>
</div>
