<div class="welcome-background">
  <div class="row welcome-splash well col-md-10 col-md-offset-1 text-center">
    <a class="welcome-button btn btn-warning btn-lg" role="button" href="/auth/twitch">Click here to log in with Twitch</a>
  </div>
  <div class="row col-md-10 col-md-offset-1 text-center">
    <p>
      Just want to browse cards without logging in? <a href="/browse">Click here!</a>
    </p>
  </div>
</div>
