$(document).ready(function(){
  $("body").on('click', "a.card", getCard)
})

function getCard(){
  // event.preventDefault <-- probably not necessary here?
  var card_name = $(this).data("name")
  var card_multiverseid = $(this).data("multiverseid")

  $.ajax({
    url: "/api/v1/cards/" + card_multiverseid,
    // make this url unique to the card clicked and have it return internal API data
    method: "GET",
    dataType: "json",
    success: showCard,
    error: function(){
      alert("Something went wrong")
    }
  })
}

function showCard(card){
  var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');

  $(".selected-card").html('')
  $(card).each(function(index, card){
    // debugger
    $(".selected-card")
      .append("<div class=card data-card-name="
      // debugger
      + card.name
      + " data-card-multiverseid="
      + card.multiverseid
      + ">"
      + "<h1>Selected Card</h1>"
      + "<img src="
      + card.imageUrl
      + " alt="
      + card.name
      + ">"
      + "<br>"
      // + "<%#= button_to '+1 to your deck', deck_cards_path(multiverseid: "
      // + card.multiverseid
      // + "), class: 'btn item-btn btn-font-size' %>"
      + "<form class='button_to' method='post' action='/deck_cards?multiverseid="
      + card.multiverseid
      + "&authenticity_token="
      + AUTH_TOKEN
      + "&qty=1'>"
      + "<input class='btn btn-primary' type='submit' value='+1 your deck'>  "
      // + "<input type='hidden' name='authenticity_token' value='"
      // + AUTH_TOKEN
      // + "'>"
      + "</form>"
      // + "<form class='button_to' method='post' action='/deck_cards?multiverseid="
      // + card.multiverseid
      // + "&qty=4'>"
      // + "<input class='btn btn-warning' type='submit' value='+4 your deck'>  "
      // // + "<input type='hidden' name='authenticity_token' value='"
      // // + AUTH_TOKEN
      // // + "'>"
      // + "</form>"
      + "</div>");
  })
}
