<% cache(action: "index", action_suffix: "standard_sets") do %>
<div class="container-fluid">
  <div class="standard_sets col-md-3">
    <h2>Standard Sets</h2>
    <ul>
    <% @cards.sets.reverse.each do |set| %>
      <li><%= link_to "#{set["name"]}", sets_path(set: set["code"]) %><br>
      <%= set["type"] %><br>
      <%= set["block"] unless set["block"].nil? %>
      </li>
      <p></p>
    <% end %>
  </ul>
  </div>
<% end %>

<% cache(action: "index", action_suffix: "selected_card") do %>
<div class="selected-card col-md-3 col-md-offset-1">
  <h1 class="text-center">Selected Card</h1>
    <!-- ajax happens here hopefully -->
</div>
<% end %>

<% cache(action: "index", action_suffix: "featured_cards") do %>
  <div class="standard_cards col-md-3 col-md-offset-1">
    <h2>Featured Cards</h2>
    <% @cards.cards["cards"].each do |card| %>
        <%= render partial: "/shared/cards", locals: {card: card} %>
    <% end %>
  </div>
  <% end %>
</div>
