.standard_cards {
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.standard_sets {
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.user-deck {
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card {
  color: black;
}
