body {
  background-color: rgb(134, 182, 203)
}

.welcome-background {
  color: black;
  margin-top: 100px;
}

.welcome-splash {
  height: 450px;
  background-image: image_url('black_lotus.png');
  background-size: cover;
}

.welcome-button {
   
}
