body {
  margin-top: 100px;
  background-color: rgb(134, 182, 203)
}

.welcome-background {
  color: black;
}

.welcome-splash {
  height: 450px;
  background-image: image_url('black_lotus.png');
  background-size: cover;
}

.welcome-button {
  position: relative;
  top: 375px;
}
